body {
    margin: 0;
    padding: 0;
}

:root {
    /* Colors */
    --color-1: #000;
    --color-2: #666;
    --color-3: #ccc;
    --color-4: #fff;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Archivo', sans-serif;
}

.button-wrapper, .input-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#button-serial, #button-channel {
    margin: 20px;
    border: 1px solid black;
}

#input-serial, #input-channel {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    border-bottom: 1px solid var(--color-3);
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16pt;
    text-transform: uppercase;
    letter-spacing: 20px;
    padding-left: 20px;

    color: var(--color-1);
}

#data-source {
    font-weight: 800;
    font-size: 12pt;
}

.main {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    padding: 20px;
    margin: 0;
}

.wrapper {
    width: 33%;
    max-width: 400px;
}

.wrapper .plot-wrapper{
    transition: max-height .5s ease-out;
    max-height: 20em;
    padding-left: 4px;
    padding-right: 10px;
}

.plot {
    border: 3px solid var(--color-1);
    height: 250px;
    align-items: center;
    justify-content: center;
}

.info {
    border: 2px solid var(--color-1);
    margin: 4px;
    padding: 6px 0;
}

.var-title {
    margin-top: 2px;

    font-size: 10pt;
    font-weight: 800;
    text-transform: uppercase;

    color: var(--color-1);
}

.sensor-name {
    margin-bottom: 5px;

    font-size: 9pt;
    font-weight: 400;
    font-style: italic;

    color: var(--color-2);
}

.var-value-wrapper {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center; 

    margin: 10px 0;

    position: relative;
}

.var-value {
    display: inline-flex;
    justify-content: center;

    font-size: 22pt;
    font-weight: 800;

    color: var(--color-1);
}

.var-error {
    align-items: center; 

    position: absolute;
    right: 5%;

    font-size: 9pt;

    color: var(--color-1);
}

.var-time {
    font-size: 10pt;
    font-style: italic;

    color: var(--color-2);
}

/* Mobile styles */

@media only screen and (max-width: 960px) {

    .header {
        height: 80px;
        flex-direction: column;
    }

    .header-title, .header-mode {
        margin: 5px 0;
    }

    .main {
        flex-direction: column;
        padding: 10px 0;
    }

    .wrapper {
        width: 100%;
        padding: 10px 0;
    }

    .plot-wrapper {
        overflow: hidden;
    }

    .hide {
        max-height: 0 !important;
    }

    .var-title {
        font-size: 12pt;
    }

    .sensor-name, .var-error {
        font-size: 11pt;
    }

}

/* Desktop styles */

@media only screen and (min-width: 961px) {
    .header {
        height: 60px;
    }

    .header-mode {
        position: absolute;
        right: 5%;
        font-size: 10pt;
    }
}